
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar ie-nav" id="mainNav"
     style="box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0.0)">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="/home" fragment="page-top">Bookstaan</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="navbarLogin" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarUser" routerLink="/profile">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/home" fragment="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/home" fragment="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<header class="masthead text-center text-white d-flex" id="page-top">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase"  style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;font-weight: 500">
          <strong>Your Book exchange portal</strong>
        </h1>
        <hr style="border-color: #f05f40;border-width: 3px">
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-white mb-5" style="font-weight: 400">
          Bookstaan is a portal to sell your old books and also buy books being sold by others. It is specially made for college students and their needs.</p>
        <a class="btn btn-deep-orange btn-xl js-scroll-trigger"
           style="font-size: 1rem" routerLink="/listings">Buy a Book</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-deep-orange btn-xl js-scroll-trigger"
           style="font-size: 1rem" routerLink="/listings/add">Sell a Book</a>
      </div>
    </div>
  </div>
</header>

<section id="about" style="background: #f05f40;background-color: #f05f40">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light my-4" style="border-color: white;border-width: 3px">
        <p class="text-faded mb-4">
          Having a pile of books is something that no one needs! We are here to solve your problem.
          <br>
          How about you start selling them.
          <br>
          Have an old book lying ?
        Sell It<br>
        Want a book ?
        Buy It</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" routerLink="/listings" style="font-size: 1rem">Get Started!</a>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr style="border-color: #f05f40;border-width: 3px">
        <p class="mb-5">Interested in using our service ?
          That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@bookstan.com</a>
        </p>
      </div>
    </div>

  </div>
</section>
<footer class="footer-copyright deep-orange py-3 text-center text-white ">
  <label style="font-family: sans-serif,'Merriweather', 'Helvetica Neue', Arial;">Made By Mayank Tanwani</label>
</footer>
